# =========================
# OS / Linux
# =========================
*~
*.swp
*.swo
.DS_Store
Thumbs.db
desktop.ini

# =========================
# VS Code
# =========================
.vscode/
.history/
*.code-workspace

# =========================
# Node.js / React / TypeScript
# =========================
node_modules/
dist/
build/
out/
coverage/
*.tsbuildinfo
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# =========================
# Chrome Extension build
# =========================
# output folder when build extension
extension-build/
extension-dist/
*.crx
*.pem
*.zip

# =========================
# Env / Secrets
# =========================
.env
.env.*
!.env.example

# =========================
# Misc
# =========================
*.log
*.bak
*.tmp
*.orig

